body {
  display: flex;
  min-height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1 0 0;
}

.main-content--padded {
  padding: 2rem 0;
}

.main-footer {
  min-height: 6rem;
  background-color: #fafafa;
}